<!DOCTYPE html>
<html lang="en">
<head>
    <title>Buy Apple MacBook Air</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_mac/buy-mac-air-style.css">
</head>
<body>
    <!-- site menu -->
    <div class="site-menu">
        <!-- apple menu -->
        <div class="apple-menu">
            <nav>
                <ul>
                    <li>
                        <a href="/"><img class="logo" src="/images/img_mac/img_inter/apple-xxl.png" ></a>
                    </li>
                    <li><a href="/mac" class="active">Mac</a></li>
                    <li><a href="/ipad">iPad</a></li>
                    <li><a href="/iphone">iPhone</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li>
                        <a href="#"><img class="img-fluid search-icon" src="/images/img_mac/img_inter/search.png"></a>
                    </li>
                    <li>
                        <a href="/bag"><img class="img-fluid bag-icon" src="/images/img_mac/img_inter/bag.png"></a>
                    </li>
                </ul>
            </nav>
        </div>          
    </div>

    <!--site header -->
    <div class="site-header">  
        <div class="container-fuild">
            <div class="row">
                <div class="col-md-6"><strong>MacBook Air</strong></div>
                <div class="col-md-6 text-right"><strong>From $999</strong></div>
            </div>
        </div>
    </div>

    <!-- site main -->
    <div class="site-main">
        <div class="introduction-section">
            <p class="title-section">Light. Speed.</p>
            <p class="disc">The incredibly thin and light MacBook Air is now more powerful than ever.<br> It features a brilliant Retina display, new Magic Keyboard, Touch ID, processors with up to twice the performance,1 faster graphics, and double the storage capacity. The sleek wedge-shaped design is created from 100 percent recycled aluminum, making it the greenest Mac ever.2 And with all-day battery life, our most popular Mac is your perfectly portable, do-it-all notebook.</p>
            <p class="price">Starting at $999</p>
        </div>

        <!-- select section -->
        <div class="select-section">
            <p class="title-section text-center">Choose your new MacBook Air<br>and select a finish.</p>
            <p class="name-product">13-inch MacBook Air</p>
            <div class="container-fluid bg-gradient p-5">
                <div class="row m-auto text-left w-75">
                    <!-- space grey -->
                    <div class="col-md-4 col-sm-12 princing-item text-center">
                        <div class=" bg-white mt-0 shadow">
                            <div class="pricing-divider">
                                <img class="img-fluid" src="/images/img_mac/img-mac-air/macbook-air-space-gray.jpg">
                                <h2 class="finish text-center">
                                    Space Gray
                                </h2>
                            </div>
                            <div class="card-body">
                                <a href="/mac/form/cart-mac-air-1" class="btn btn-primary button">Select</a>
                            </div>
                        </div>
                    </div>
                    
                    <!-- gold --> 
                    <div class="col-md-4 col-sm-12 princing-item text-center">
                        <div class=" bg-white mt-0 shadow">
                            <div class="pricing-divider ">
                                <img class="img-fluid" src="/images/img_mac/img-mac-air/macbook-air-gold.jpg">
                                <h2 class="finish text-center">
                                    Gold
                                </h2>
                            </div>
                            <div class="card-body">
                                <a href="/mac/form/cart-mac-air-2" class="btn btn-primary button">Select</a>
                            </div>
                        </div>
                    </div>

                    <!-- silver -->
                    <div class="col-md-4 col-sm-12 princing-item text-center">
                        <div class=" bg-white mt-0 shadow">
                            <div class="pricing-divider ">
                                <img class="img-fluid" src="/images/img_mac/img-mac-air/macbook-air-silver.jpg">
                                <h2 class="finish text-center">
                                    Silver
                                </h2>
                          </div>
                            <div class="card-body">
                                <a href="/mac/form/cart-mac-air-3" class="btn btn-primary button">Select</a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>    

    <!-- site footer-->
    <div class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    Copyright © 2020 Apple Inc. All rights reserved.
                </div>
                <div class="col-md-6 text-right">
                    VietNam
                </div>
            </div>
        </div>
    </div>
</body>
</html>