<!DOCTYPE html>
<html lang="en">
<head>
    <title>Buy Apple MacBook Air</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_mac/cart-mac-air-style.css">
</head>
<body>
    <!-- site menu -->
    <div class="site-menu">
        <!-- apple menu -->
        <div class="apple-menu">
            <nav>
                <ul>
                    <li>
                        <a href="/"><img class="logo" src="/images/img_mac/img_inter/apple-xxl.png" ></a>
                    </li>
                    <li><a href="/mac" class="active">Mac</a></li>
                    <li><a href="/ipad">iPad</a></li>
                    <li><a href="/iphone">iPhone</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li>
                        <a href="#"><img class="img-fluid search-icon" src="/images/img_mac/img_inter/search.png"></a>
                    </li>
                    <li>
                        <a href="/bag"><img class="img-fluid bag-icon" src="/images/img_mac/img_inter/bag.png"></a>
                    </li>
                </ul>
            </nav>
        </div>          
    </div>

    <!--site header -->
    <div class="site-header">  
        <div class="container-fuild">
            <div class="row">
                <div class="col-md-6"><strong>MacBook Air</strong></div>
                <div class="col-md-6 text-right"><strong>From $899.00</strong></div>
            </div>
        </div>
    </div>

    <!-- site main -->
    <div class="site-main mt-4">
        <div class="container-fluild">
            <div class="product_cart row">
                <div class="image_product col-md-5 text-center">
                    <img class="img-fluid" src="/images/img_mac/img-mac-air/macbook-air-space-gray.jpg">
                </div>
                <div class="cart col-md-7">
                    <p class="name_cart">Customize your MacBook Air -<br>Space Gray</p>
                    
                    <div id="accordion">
                        <!-- Processor -->
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                    <div class="row">
                                        <p id="para" class="bold col-6">Processor</p>
                                        <p id="change-button" class="col-6 text-right"></p>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" >
                                <div class="card-body">
                                    <div class="item">
                                        <div class="box box-big row" id="model_i3"> 
                                            <span class="bold" id="selected">1.1GHz dual-core 10th-generation 
                                                                . Intel Core i3 processor,
                                                                <br>Turbo Boost up to 3.2GHz
                                            </span>
                                        </div>
                                        <div class="box box-big row mt-3" id="model_i5">
                                            <span class="bold">1.1GHz quad-core 10th-generation
                                                                . Intel Core i5 processor,
                                                                <br>Turbo Boost up to 3.5GHz
                                            </span>
                                        </div>
                                        <div class="box box-big row mt-3" id="model_i7">
                                            <span class="bold">1.2GHz quad-core 10th-generation
                                                                . Intel Core i7 processor,
                                                                <br>Turbo Boost up to 3.8GHz
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Memory -->
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                    <div class="row">
                                        <p id="para" class="bold col-6">Memory</p>
                                        <p id="change-button" class="col-6 text-right"></p>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse show" >
                                <div class="card-body">
                                    <div class="item">
                                        <div class="box box-big row" id="ram_8GB"> 
                                            <span class="bold">
                                                8GB 3733MHz LPDDR4X memory
                                            </span>
                                        </div>
                                        <div class="box box-big row mt-3" id="ram_16GB">
                                            <span class="bold">
                                                16GB 3733MHz LPDDR4X memory
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Storage -->
                        <div class="card card-remove-border">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                    <div class="row">
                                        <p id="para" class="bold col-6">Storage</p>
                                        <p id="change-button" class="col-6 text-right"></p>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseThree" class="collapse show" >
                                <div class="card-body">
                                    <div class="item">
                                        <div class="box box-big row" id="rom_256GB"> 
                                            <span class="bold">
                                                256GB SSD storage
                                            </span>
                                        </div>
                                        <div class="box box-big row mt-3" id="rom_512GB">
                                            <span class="bold">
                                                512GB SSD storage
                                            </span>
                                        </div>
                                        <div class="box box-big row mt-3" id="rom_1T">
                                            <span class="bold">
                                                1TB SSD storage
                                            </span>
                                        </div>
                                        <div class="box box-big row mt-3" id="rom_2T">
                                            <span class="bold">
                                                2TB SSD storage
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    <div class="row mt-3">
                        <input type="button" class="addToBag" value="Add to Bag" id="bag">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- site footer-->
    <div class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    Copyright © 2020 Apple Inc. All rights reserved.
                </div>
                <div class="col-md-6 text-right">
                    VietNam
                </div>
            </div>
        </div>
    </div>
    {{!-- <script src="/javascripts/script_mac/check_mac_air.js"></script> --}}
    <script src="/javascripts/script_mac/cart-mac-air-1.js"></script>
    <script src="/javascripts/script_mac/cart-mac-air.js"></script>
</body>
</html>