<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apple Mac</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_mac/mac-style.css">
</head>
<body>
    <div class="site-menu">
        <div class="apple-menu">
            <nav>
                <ul>
                    <li>
                        <a href="/"><img class="logo" src="/images/img_mac/img_inter/apple-xxl.png" ></a>
                    </li>
                    <li><a href="/mac" class="active">Mac</a></li>
                    <li><a href="/ipad">iPad</a></li>
                    <li><a href="/iphone">iPhone</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li>
                        <a href="#"><img class="img-fluid search-icon" src="/images/img_mac/img_inter/search.png"></a>
                    </li>
                    <li>
                        <a href="/bag"><img class="img-fluid bag-icon" src="/images/img_mac/img_inter/bag.png"></a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="mac-menu">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <a class="item-menu" href="#mac-air-section">
                        <img class="img-fluid" src="/images/img_mac/img_inter/macbookair.svg">
                        <p>MacBook Air</p>
                    </a>
                    <a class="item-menu" href="#mac-pro13-section">
                        <img class="img-fluid" src="/images/img_mac/img_inter/macbook_pro_13.svg">
                        <p>MacBook Pro 13"</p>
                    </a>
                    <a class="item-menu" href="#mac-pro16-section">
                        <img class="img-fluid macpro16" src="/images/img_mac/img_inter/macbook_pro_16.svg">
                        <p>MacBook Pro 16"</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <section class="site-main">
        <div class="info">
            <section class="container mac-section" id="mac-pro13-section">
                <div class="jumbotron jbWhite"> 
                    <div class="row">
                        <div class="col-md-5 text-lg-left text-sm-center text-mac">
                            <div>
                                <p class="inch">13-inch model</p>
                                <h1>MacBook Pro</h1>
                            </div>
                            <p class="descrip">Power. Moves.</p>
                            <div>
                                <a href="/mac/item/buy-mac-pro13"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                            </div>
                        </div>
                        <div class="col-md-7">
                            <img src="/images/img_mac/img_inter/Mac/macbook_pro_13.jfif" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </section>
            <section class="container mac-section" id="mac-pro16-section">
                <div class="jumbotron jbWhite">
                    <div class="row">
                        <div class="col-md-7">
                            <img src="/images/img_mac/img_inter/Mac/macbook_pro_16.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-5 text-lg-left text-sm-center text-mac">
                            <div>
                                <p class="inch">
                                    16-inch model
                                </p>
                                <h1>MacBook Pro</h1>
                            </div>
                            <p class="descrip">The best for the brightest.</p>
                            <div>
                                <a href="/mac/item/buy-mac-pro16" class="btn btn-primary">Buy</a>
                            </div>
                            <!-- <div class="more">
                                <a href="#" class="more-text">Learn more</a>
                                <span class="icon-after-more">&gt;</span>
                            </div> -->
                        </div>
                    </div>
                </div>
            </section>
            <section class="container mac-section" id="mac-air-section">
                <div class="jumbotron jbWhite">
                    <div class="row">
                        <div class="col-md-5 text-lg-left text-sm-center text-mac">
                            <div>
                                <h1>MacBook Air</h1>
                            </div>
                            <p class="descrip">Light. Speed.</p>
                            <div>
                                <a href="/mac/item/buy-mac-air" class="btn btn-primary">Buy</a>
                            </div>
                            <!-- <div class="more">
                                <a href="#" class="more-text">Learn more</a>
                                <span class="icon-after-more">&gt;</span>
                            </div> -->
                        </div>
                        <div class="col-md-7">
                            <img src="/images/img_mac/img_inter/Mac/macbook_air.jfif" alt="" class="img-fluid">
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <div class="compare-section">
            <section class="container-fluid">
                <div class="jumbotron jbcomp">
                    <div class="text-center col-md-12 container">
                        <h1>Which Mac notebook is<br>right for you?</h1>
                    </div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 ">
                                <div>
                                    <div class="text-comp">
                                        <img src="/images/img_mac/img_inter/Mac/macbook_air__comp.jpg" class="img-comp">
                                        <h3>MacBook Air</h3>
                                        <p>From $999 or $83.25/mo. for 12 mo.**</p>
                                    </div>
                                    <div>
                                        <ul class="list-unstyled">
                                            <li class="pull-right">13.3-inch Retina display1</li>
                                            <li class="pull-right">Up to 4-core Intel Core i7 processor</li>
                                            <li class="pull-right">Up to 16GB memory</li>
                                            <li class="pull-right">Up to 2TB storage2</li>
                                            <li class="pull-right">Up to 11 hours battery life3</li>
                                            <li class="pull-right">Touch ID</li>
                                            <li class="pull-right">Backlit Magic Keyboard</li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <a href="/mac/item/buy-mac-air" class="btn btn-primary button">Buy</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div>
                                    <div class="text-comp">
                                        <img src="/images/img_mac/img_inter/Mac/macbook_pro_13_comp.jpg" class="img-comp">
                                        <h3>MacBook Pro 13”</h3>
                                        <p>From $1299 or $108.25/mo. for 12 mo.**</p>
                                    </div>
                                    <div>
                                        <ul class="list-unstyled">
                                            <li class="pull-right">13.3-inch Retina display</li>
                                            <li class="pull-right">Up to 4-core Intel Core i7 processor</li>
                                            <li class="pull-right">Up to 32GB memory</li>
                                            <li class="pull-right">Up to 4TB storage</li>
                                            <li class="pull-right">Up to 10 hours battery life</li>
                                            <li class="pull-right">Touch Bar and Touch ID</li>
                                            <li class="pull-right">Backlit Magic Keyboard</li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <a href="/mac/item/buy-mac-pro13" class="btn btn-primary button">Buy</a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div>
                                    <div class="text-comp"> 
                                        <img src="/images/img_mac/img_inter/Mac/macbook_pro_16__comp.jpg">
                                        <h3>MacBook Pro 16”</h3>
                                        <p>From $2399 or $199.91/mo. for 12 mo.**</p>
                                    </div>
                                    <div>
                                        <ul class="list-unstyled">
                                            <li class="pull-right">16-inch Retina display</li>
                                            <li class="pull-right">Up to 8-core Intel Core i9 processor</li>
                                            <li class="pull-right">Up to 64GB memory</li>
                                            <li class="pull-right">Up to 8TB storage</li>
                                            <li class="pull-right">Up to 11 hours battery life</li>
                                            <li class="pull-right">Touch Bar and Touch ID</li>
                                            <li class="pull-right">Backlit Magic Keyboard</li>
                                        </ul>
                                    </div>
                                </div>
                                <div>
                                    <a href="/mac/item/buy-mac-pro16" class="btn btn-primary button">Buy</a>
                                </div>
                                <!-- <div class="more">
                                    <a href="#" class="more-text">Learn more</a>
                                    <span class="icon-after-more">&gt;</span>
                                </div> -->
                            </div>
                        </div>
                    </div>
                
                </div>
            </section>
        </div>
    </section> 
    
    <!-- site footer-->
    <div class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    Copyright © 2020 Apple Inc. All rights reserved.
                </div>
                <div class="col-md-6 text-right">
                    VietNam
                </div>
            </div>
        </div>
    </div>
</body>
</html>