<!DOCTYPE html>
<html lang="en">
<head>
    <title>Buy Apple Watch Series 3</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
    <style>
        .mySlides {display:none}
        .w3-left, .w3-right, .w3-badge {cursor:pointer}
        .w3-badge {height:13px;width:13px;padding:0}
    </style>  

    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_watch/style-cart-series-3.css">
</head>

<body>
    <!-- site menu -->
    <div class="site-menu">
        <!-- apple menu -->
        <div class="apple-menu">
            <nav>
                <ul>
                    <li>
                        <a href="/"><img class="logo" src="/images/img_watch/img_inter/apple-xxl.png" ></a>
                    </li>
                    <li><a href="/mac" class="active">Mac</a></li>
                    <li><a href="/ipad">iPad</a></li>
                    <li><a href="/iphone">iPhone</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li>
                        <a href="#"><img class="img-fluid search-icon" src="/images/img_watch/img_inter/search.png"></a>
                    </li>
                    <li>
                        <a href="/bag"><img class="img-fluid bag-icon" src="/images/img_watch/img_inter/bag.png"></a>
                    </li>
                </ul>
            </nav>
        </div>          
    </div>

    <!--site header -->
    <div class="site-header">  
        <div class="container-fuild">
            <div class="row">
                <div class="col-md-6"><strong>Apple Series 3</strong></div>
            </div>
        </div>
    </div>
    
    <!-- site-main -->
    <div class="site-main mt-4">
        <div class="container-fluild">
            <div class="product_cart row">
                <div class="product-img col-md-6">
                    <div class="slideshow-container">
                        <div class="mySlides fade">
                            <img src="/images/img_watch/img-watch-series-3/watch-3-1.jpg" width="500px" height="550px">
                        </div>
                        
                        <div class="mySlides fade">
                            <img src="/images/img_watch/img-watch-series-3/watch-3-2.jpg" width="500px" height="550px">
                        </div>
                        
                        <div class="mySlides fade">
                            <img src="/images/img_watch/img-watch-series-3/watch-3-3.jpg" width="500px" height="550px">
                        </div>
                        
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>
                    </div>
                </div>


                <div class="cart col-md-6">
                    <p class="watch-title bold">Apple Watch Series 3</p>
                    <p class="name_cart">Silver Aluminum Case with White Sport Band</p>
                    <p class="cart-price">From $199</p>
                    
                    <div id="accordion">
                        <!-- Case size-->
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                    <div class="row">
                                        <p id="para" class="bold col-6 checkSize">Case size</p>
                                        <p id="change-button" class="col-6 text-right"></p>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" >
                                <div class="card-body">
                                    <div class="item">
                                        <div class="row box box-big"> 
                                            <div class=" col-md-6">
                                                <span class="bold" id="selected">38mm</span>
                                                <p class="disc">Case fits 130-200mm wrists.</p>
                                            </div>
                                            <div class="col-md-6 text-right price">From $199</div>
                                        </div>
                                        <div class="row box box-big mt-3"> 
                                            <div class=" col-md-6">
                                                <span class="bold" id="selected">42mm</span>
                                                <p class="disc">Case fits 140-220mm wrists.</p>
                                            </div>
                                            <div class="col-md-6 text-right price">From $229</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Connectivity-->
                        <div class="card non-border">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                    <div class="row">
                                        <p id="para" class="bold col-6 checkConnect">Connectivity</p>
                                        <p id="change-button" class="col-6 text-right"></p>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse show" >
                                <div class="card-body">
                                    <div class="item">
                                        <div class="row box box-big"> 
                                            <div class="col-md-6 line">
                                                <span class="bold" id="selected">GPS</span>
                                            </div>
                                            <div class="col-md-6 text-right price">$199.00</div>
                                        </div>
                                        <div class="row box box-big mt-3"> 
                                            <div class=" col-md-6 line">
                                                <span class="bold" id="selected">GPS + Cellular</span>
                                            </div>
                                            <div class="col-md-6 text-right price">$299.00</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>   

                    <div class="row mt-3">
                        <input type="button" class="addToBag" value="Add to Bag" id="bag">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- site footer-->
    <div class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    Copyright © 2020 Apple Inc. All rights reserved.
                </div>
                <div class="col-md-6 text-right">
                    VietNam
                </div>
            </div>
        </div>
    </div>
    <script src="/javascripts/script_watch/check_watch_3.js"></script>
    <script src="/javascripts/script_watch/series-3-script_1.js"></script>
    <script src="/javascripts/script_watch/series-3-script_2.js"></script>
</body>
</html>