body {
    margin: 0;
}

.div1 {
    margin: 50px 0px 0px 20px ;
    width: 100px;
    border: red solid 1px;
    max-height: 30px;
    overflow: auto;
}
.div2 {
    background-color: blue;
    width: 20px;
    height: 60px;
    float: left;
}
.xoa{
    clear: both;
}