<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Buy Apple iPad Air</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/stylesheets/style_ipad/buy-ipad-air-style.css">
    </head>
    <body>
        <!-- site menu -->
        <div class="site-menu">
            <!-- apple menu -->
            <div class="apple-menu">
                <nav>
                    <ul>
                        <li>
                            <a href="/"><img class="logo" src="/images/img_ipad/img_inter/apple-xxl.png" ></a>
                        </li>
                        <li><a href="/mac">Mac</a></li>
                        <li><a href="/ipad" class="active">iPad</a></li>
                        <li><a href="/iphone">iPhone</a></li>
                        <li><a href="/watch">Watch</a></li>
                        <li>
                            <a href="#"><img class="img-fluid search-icon" src="/images/img_ipad/img_inter/search.png"></a>
                        </li>
                        <li>
                            <a href="/bag"><img class="img-fluid bag-icon" src="/images/img_ipad/img_inter/bag.png"></a>
                        </li>
                    </ul>
                </nav>
            </div>          
        </div>

        <!--site header -->
        <div class="site-header">  
            <div class="container-fuild">
                <div class="row">
                    <div class="col-md-6"><strong>Apple iPad Air</strong></div>
                    <div class="col-md-6 text-right"><strong>From $499</strong></div>
                </div>
            </div>
        </div>

        <div class="site-main mt-4">
            <div class="container-fluild">
                <div class="product_cart row">
                    <div class="image_product col-md-6 text-center">
                        <img class="img-fluid" src="/images/img_ipad/img_buy-ipad-air/ipad-air.jpg">
                    </div>
                    <div class="cart col-md-6">
                        <p class="name_cart">Buy iPad Air</p>

                        
                        <div id="accordion">
                            <!-- Finish -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        <div class="row">
                                            <p id="para" class="bold col-6 checkColor">Finish</p>
                                            <p id="change-button" class="col-6 text-right"></p>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" >
                                    <div class="card-body">
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-sm-6 text-center">
                                                    <div class="box left box-small">
                                                        <img src="/images/img_ipad/img_buy-ipad-air/space-gray.png">
                                                        <p class="desc"><span id="selected">Space grey</span></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 text-center">
                                                    <div class="box right box-small">
                                                        <img src="/images/img_ipad/img_buy-ipad-air/silver.png">
                                                        <p class="desc"><span id="selected">Silver</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-sm-6 text-center">
                                                    <div class="box left box-small">
                                                        <img src="/images/img_ipad/img_buy-ipad-air/gold.png">
                                                        <p class="desc"><span id="selected">Gold</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Storage -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                        <div class="row">
                                            <p id="para" class="bold col-6 checkRom">Storage</p>
                                            <p id="change-button" class="col-6 text-right"></p>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse show" >
                                    <div class="card-body">
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-sm-6 text-center">
                                                    <div class="box left box-small">
                                                        <p id="selected" class="bold"><span class="price">64</span>GB</p>
                                                        <p class="desc desc-storage">From $41.58/mo.*<br>or $499</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 text-center">
                                                    <div class="box right box-small">
                                                        <p id="selected" class="bold"><span class="price">256</span>GB</p>
                                                        <p class="desc desc-storage">From $54.08/mo.*<br>or $649</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!-- Connectivity -->
                            <div class="card cart-remove-border">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                        <div class="row">
                                            <p id="para" class="bold col-6 checkConnect">Connectivity</p>
                                            <p id="change-button" class="col-6 text-right"></p>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse show" >
                                    <div class="card-body">
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-md-6 text-center">
                                                    <div class="box left box-small">
                                                        <p><span id="selected" class="bold">Wi-Fi</span><br>
                                                        <span class="desc">From $41.58/mo.*<br>or $499.00</span></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-center">
                                                    <div class="box right box-small">
                                                        <p><span id="selected" class="bold">Wi-Fi + Cellular</span><br>
                                                        <span class="desc">From $52.41/mo.*<br>or $629.00</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <input type="button" id="bag" class="addToBag" value="Add to Bag">
                        </div>
                    </div>
                </div>
            </div>

            <div class="accessories">
                <p class="name_cart">What's in the box</p>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img class="img-fluid" src="/images/img_ipad/img_buy-ipad-air/ipad-air-in-box.jpg">
                        <p>iPad Air</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-fluid" src="/images/img_ipad/img_buy-ipad-air/lightning-to-usb-cable.jpg">
                        <p>Lightning to USB Cable</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-fluid" src="/images/img_ipad/img_buy-ipad-air/usb-power-adapter.jpg">
                        <p>USB Power Adapter</p>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- site footer-->
        <div class="site-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        Copyright © 2020 Apple Inc. All rights reserved.
                    </div>
                    <div class="col-md-6 text-right">
                        VietNam
                    </div>
                </div>
            </div>
        </div>
        <script src="/javascripts/script_ipad/checkiPad.js"></script>
        <script src="/javascripts/script_ipad/buy-ipad-air.js"></script>
    </body>
</html>