<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Buy Apple iPad Pro</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/stylesheets/style_ipad/buy-ipad-pro-style.css">
    </head>
    <body>
        <!-- site menu -->
        <div class="site-menu">
            <!-- apple menu -->
            <div class="apple-menu">
                <nav>
                    <ul>
                        <li>
                            <a href="/"><img class="logo" src="/images/img_ipad/img_inter/apple-xxl.png" ></a>
                        </li>
                        <li><a href="/mac">Mac</a></li>
                        <li><a href="/ipad" class="active">iPad</a></li>
                        <li><a href="/iphone">iPhone</a></li>
                        <li><a href="/watch">Watch</a></li>
                        <li>
                            <a href="#"><img class="img-fluid search-icon" src="/images/img_ipad/img_inter/search.png"></a>
                        </li>
                        <li>
                            <a href="/bag"><img class="img-fluid bag-icon" src="/images/img_ipad/img_inter/bag.png"></a>
                        </li>
                    </ul>
                </nav>
            </div>          
        </div>

        <!--site header -->
        <div class="site-header">  
            <div class="container-fuild">
                <div class="row">
                    <div class="col-md-6"><strong>Apple iPad Pro</strong></div>
                    <div class="col-md-6 text-right"><strong>From $799</strong></div>
                </div>
            </div>
        </div>

        <div class="site-main mt-4">
            <div class="container-fluild">
                <div class="product_cart row">
                    <div class="image_product col-md-6 text-center">
                        <img class="img-fluid" src="/images/img_ipad/img_buy-ipad-pro/ipad-pro.png">
                    </div>
                    <div class="cart col-md-6">
                        <p class="name_cart">Buy iPad Pro</p>

                        
                        <div id="accordion">
                            <!--Model-->
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                        <div class="row">
                                            <p id="para" class="bold col-6 checkModel">Model</p>
                                            <p id="change-button" class="col-6 text-right"></p>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseOne" class="collapse show" >
                                    <div class="card-body">
                                        <div class="item">
                                            <div class="box box-big row"> 
                                                <div class="bold col-md-6"><span id="selected">11-inch</span> display</div>
                                                <div class="col-md-6 text-right">From $66.58/mo.* or $799</div>
                                            </div>
                                            <div class="box box-big row mt-3">
                                                <div class="bold col-md-6"><span id="selected">12.9-inch</span> display</div>
                                                <div class="col-md-6 text-right">From $83.25/mo.* or $999</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--Finish-->
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                        <div class="row">
                                            <p id="para" class="bold col-6 checkColor">Finish</p>
                                            <p id="change-button" class="col-6 text-right"></p>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseTwo" class="collapse show" >
                                    <div class="card-body">
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-sm-6 text-center">
                                                    <div class="box left box-small">
                                                        <img src="/images/img_ipad/img_buy-ipad-pro/space-gray.png">
                                                        <p class="desc"><span id="selected">Space grey</span></p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 text-center">
                                                    <div class="box right box-small">
                                                        <img src="/images/img_ipad/img_buy-ipad-pro/silver.png">
                                                        <p class="desc"><span id="selected">Silver</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--
                             Storage -->
                            <div class="card">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseThree">
                                        <div class="row">
                                            <p id="para" class="bold col-6 checkRom">Storage</p>
                                            <p id="change-button" class="col-6 text-right"></p>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseThree" class="collapse show" >
                                    <div class="card-body">
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-sm-6 text-center">
                                                    <div class="box left box-small">
                                                        <p id="selected" class="bold"><span class="price">128</span>GB</p>
                                                        <p class="desc desc-storage">From $66.58/mo.*<br>or $799</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 text-center">
                                                    <div class="box right box-small">
                                                        <p id="selected" class="bold"><span class="price">256</span>GB</p>
                                                        <p class="desc desc-storage">From $74.91/mo.*<br>or $899</p>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row mt-3">
                                                <div class="col-sm-6 text-center">
                                                    <div class="box left box-small">
                                                        <p id="selected" class="bold"><span class="price">512</span>GB</p>
                                                        <p class="desc desc-storage">From $91.58/mo.*<br>or $1099</p>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 text-center">
                                                    <div class="box right box-small">
                                                        <p id="selected" class="bold"><span class="price">1</span>TB</p>
                                                        <p class="desc desc-storage">From $108.25/mo.*<br>or $1299</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            

                            <!-- Connectivity -->
                            <div class="card card-remove-border">
                                <div class="card-header">
                                    <a class="card-link" data-toggle="collapse" href="#collapseFour">
                                        <div class="row">
                                            <p id="para" class="bold col-6 checkConnect">Connectivity</p>
                                            <p id="change-button" class="col-6 text-right"></p>
                                        </div>
                                    </a>
                                </div>
                                <div id="collapseFour" class="collapse show" >
                                    <div class="card-body">
                                        <div class="item">
                                            <div class="row">
                                                <div class="col-md-6 text-center">
                                                    <div class="box left box-small">
                                                        <p><span id="selected" class="bold">Wi-Fi</span><br>
                                                        <span class="desc">From $66.58/mo.*<br>or $799</span></p>
                                                    </div>
                                                </div>
                                                <div class="col-md-6 text-center">
                                                    <div class="box right box-small">
                                                        <p><span id="selected" class="bold">Wi-Fi + Cellular</span><br>
                                                        <span class="desc">From $79.08/mo.*<br>or $949</span></p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row mt-3">
                            <input type="button" id="bag" class="addToBag" value="Add to Bag">
                        </div>
                    </div>
                </div>
            </div>

            <div class="accessories">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <img class="img-fluid" src="/images/img_ipad/img_buy-ipad-pro/apple-pencil.jpg">
                    </div>
                    <div class="col-md-6 name_accessories text-center">
                        <p class="name_cart">Apple Pencil</p>
                    </div>
                </div>
            </div>

            <div class="accessories">
                <div class="row">
                    <div class="col-md-6 name_accessories text-center">
                        <p class="name_cart">Magic Keyboard</p>
                    </div>
                    <div class="col-md-6 text-center">
                        <img class="img-fluid" src="/images/img_ipad/img_buy-ipad-pro/ipad-pro-keyboard.jpg">
                    </div>
                </div>
            </div>

            <div class="site-compare">
                <div class="container-fluid">
                    <p class="compare-title">Compare iPad models</p>
                    <div class="row img-ipad">
                        <div class="col-md-3">
                            <img class="img-fluid img-ipad" src="/images/img_ipad/img_buy-ipad-pro/ipad-pro-compare.png">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid img-ipad" src="/images/img_ipad/img_buy-ipad-pro/ipad-air-compare.png">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid img-ipad" src="/images/img_ipad/img_buy-ipad-pro/ipad-compare.png">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid img-ipad" src="/images/img_ipad/img_buy-ipad-pro/ipad-mini-compare.png">
                        </div>
                    </div> 
                    <div class="row">
                        <div class="compare col-md-3">
                            <p class="name-ipad-compare">iPad Pro</p>
                            <p class="price-compare">From $799</p>
                        </div>
                        <div class="compare col-md-3">
                            <p class="name-ipad-compare">iPad Air</p>
                            <p class="price-compare">From $499</p>
                        </div>
                        <div class="compare col-md-3">
                            <p class="name-ipad-compare">iPad</p>
                            <p class="price-compare">From $329</p>
                        </div>
                        <div class="compare col-md-3">
                            <p class="name-ipad-compare">iPad Mini</p>
                            <p class="price-compare">From $399</p>
                        </div>
                    </div>
                    <div class="row buy">
                        <div class="col-md-3">
                            <a href="/ipad/form/buy-ipad-pro"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                        </div>
                        <div class="col-md-3">
                            <a href="/ipad/form/buy-ipad-air"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                        </div>
                        <div class="col-md-3">
                            <a href="/ipad/form/buy-ipad"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                        </div>
                        <div class="col-md-3">
                            <a href="/ipad/form/buy-ipad-mini"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="accessories in-box">
                <p class="name-box">What's in the box</p>
                <div class="row">
                    <div class="col-md-4 text-center">
                        <img class="img-fluid" src="/images/img_ipad/img_buy-ipad-pro/ipad-pro-in-box.jpg">
                        <p>iPad Pro</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-fluid" src="/images/img_ipad/img_buy-ipad-pro/usb-c-charge-cable.jpg">
                        <p>USB-C Charge Cable</p>
                    </div>
                    <div class="col-md-4 text-center">
                        <img class="img-fluid" src="/images/img_ipad/img_buy-ipad-pro/usb-c-power-adapter.jpg">
                        <p>18W USB-C Power Adapter</p>
                    </div>
                </div>
            </div>
        </div>
        
        
         <!-- site footer-->
         <div class="site-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        Copyright © 2020 Apple Inc. All rights reserved.
                    </div>
                    <div class="col-md-6 text-right">
                        VietNam
                    </div>
                </div>
            </div>
        </div>
        
        <script src="/javascripts/script_ipad/buy-ipad-pro.js"></script>
        {{!-- <script src="/javascripts/script_ipad/checkiPadPro.js"></script> --}}
    </body>
</html>