<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Apple iPad</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        
        <link rel="stylesheet" type="text/css" href="/stylesheets/style_ipad/ipad-style.css">
    </head>
    <body>
        <!-- site menu -->
        <div class="site-menu">
            <!-- apple menu -->
            <div class="apple-menu">
                <nav>
                    <ul>
                        <li>
                            <a href="/"><img class="logo" src="/images/img_ipad/img_inter/apple-xxl.png" ></a>
                        </li>
                        <li><a href="/mac">Mac</a></li>
                        <li><a href="/ipad" class="active">iPad</a></li>
                        <li><a href="/iphone">iPhone</a></li>
                        <li><a href="/watch">Watch</a></li>
                        <li>
                            <a href="#"><img class="img-fluid search-icon" src="/images/img_ipad/img_inter/search.png"></a>
                        </li>
                        <li>
                            <a href="/bag"><img class="img-fluid bag-icon" src="/images/img_ipad/img_inter/bag.png"></a>
                        </li>
                    </ul>
                </nav>
            </div> 

            <!-- ipad menu -->
            <div class="ipad-menu">
                <div class="container-fluid">
                    <div class="row justify-content-center">
                        <a class="item-menu" href="#ipad-pro-section">
                            <img class="img-fluid" src="/images/img_ipad/img_inter/ipad-pro-icon.png">
                            <p class="text-center">iPad Pro</p>
                        </a>
                        <a class="item-menu" href="#ipad-air-section">
                            <img class="img-fluid" src="/images/img_ipad/img_inter/ipad-air-icon.png">
                            <p class="text-center">iPad Air</p>
                        </a>
                        <a class="item-menu" href="#ipad-section">
                            <img class="img-fluid" src="/images/img_ipad/img_inter/ipad-icon.png">
                            <p class="text-center">iPad</p>
                        </a>
                        <a class="item-menu" href="#ipad-mini-section">
                            <img class="img-fluid" src="/images/img_ipad/img_inter/ipad-mini-icon.png">
                            <p class="text-center">iPad Mini</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <!-- site main -->
        <div class="site-main">
            <div class="container-fluid">
                <div class="row" id="ipad-pro-section">
                    <div class="site-section">
                        <div class="content">
                            <p class="name-ipad">iPad Pro</p>
                            <p class="disc">Your next computer is not a computer.</p>
                            <p class="price">From $799</p>
                            <a href="/ipad/form/buy-ipad-pro"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="row" id="ipad-air-section">
                    <div class="site-section">
                        <div class="content">
                            <p class="name-ipad">iPad Air</p>
                            <p class="disc">Incredible power at <br>an incredible value.</p>
                            <p class="price">From $499</p>
                            <a href="/ipad/form/buy-ipad-air"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
                <div class="row" id="ipad-section">
                    <div class="site-section">
                        <div class="row">
                            <div class="col-md-4 content">
                                <p class="name-ipad">iPad</p>
                                <p class="disc">Our most popular iPad.</p>
                                <p class="price">From $329</p>
                                <a href="/ipad/form/buy-ipad"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                            </div>                                
                            <div class="col-md-8">
                                <img class="img-fluid" src="/images/img_ipad/img_inter/ipad.png">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" id="ipad-mini-section">
                    <div class="site-section">
                            <div class="row">
                                <div class="col-md-8">
                                    <img class="img-fluid" src="/images/img_ipad/img_inter/ipad-mini.png">
                                </div>
                                <div class="col-md-4 content">
                                    <p class="name-ipad">iPad Mini</p>
                                    <p class="disc">Small in size.<br>Big on capability.</p>
                                    <p class="price">From $399</p>
                                    <a href="/ipad/form/buy-ipad-mini"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                                </div>
                            </div>
                    </div>
                </div>
            </div>

            <div class="site-compare">
                <div class="container-fluid">
                    <p class="compare-title">Compare iPad models</p>
                    <div class="row img-ipad">
                        <div class="col-md-3">
                            <img class="img-fluid img-ipad" src="/images/img_ipad/img_inter/ipad-pro-compare.jpg">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid img-ipad" src="/images/img_ipad/img_inter/ipad-air-compare.jpg">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid img-ipad" src="/images/img_ipad/img_inter/ipad-compare.jpg">
                        </div>
                        <div class="col-md-3">
                            <img class="img-fluid img-ipad" src="/images/img_ipad/img_inter/ipad-mini-compare.jpg">
                        </div>
                    </div> 
                    <div class="row">
                        <div class="compare col-md-3">
                            <p class="name-ipad-compare">iPad Pro</p>
                            <p class="price-compare">From $799</p>
                            <p>12.9” and 11”
                            Liquid Retina display
                            with ProMotion</p>
                            <p>A12Z Bionic chip</p>
                            <p>Pro cameras and LiDAR Scanner</p>
                            <p>Face ID</p>
                            <p>Up to 1TB storage</p>
                            <p>Support for Apple Pencil
                            (2nd generation)</p>
                            <p>Support for Magic Keyboard and Smart Keyboard Folio</p>
                        </div>
                        <div class="compare col-md-3">
                            <p class="name-ipad-compare">iPad Air</p>
                            <p class="price-compare">From $499</p>
                            <p>10.5” Retina display</p>
                            <p>A12 Bionic chip</p>
                            <p>Advanced cameras</p>
                            <p>Touch ID</p>
                            <p>Up to 256GB storage</p>
                            <p>Support for Apple Pencil
                            (1st generation)</p>
                            <p>Support for Smart Keyboard</p>
                        </div>
                        <div class="compare col-md-3">
                            <p class="name-ipad-compare">iPad</p>
                            <p class="price-compare">From $329</p>
                            <p>10.2” Retina display</p>
                            <p>A10 Fusion chip</p>
                            <p>Advanced cameras</p>
                            <p>Touch ID</p>
                            <p>Up to 128GB storage</p>
                            <p>Support for Apple Pencil
                            (1st generation)</p>
                            <p>Support for Smart Keyboard</p>
                        </div>
                        <div class="compare col-md-3">
                            <p class="name-ipad-compare">iPad Mini</p>
                            <p class="price-compare">From $399</p>
                            <p>7.9” Retina display</p>
                            <p>A12 Bionic chip</p>
                            <p>Advanced cameras</p>
                            <p>Touch ID</p>
                            <p>Up to 256GB storage</p>
                            <p>Support for Apple Pencil
                            (1st generation)</p>
                        </div>
                    </div>
                    <div class="row buy">
                        <div class="col-md-3">
                            <a href="/ipad/form/buy-ipad-pro"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                        </div>
                        <div class="col-md-3">
                            <a href="/ipad/form/buy-ipad-air"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                        </div>
                        <div class="col-md-3">
                            <a href="/ipad/form/buy-ipad"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                        </div>
                        <div class="col-md-3">
                            <a href="/ipad/form/buy-ipad-mini"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="site-essentials">
                <div class="container-fluid">
                    <p class="essentials-title">iPad essentials</p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="side-pencil">
                            <p class="name-essentials">Apple Pencil</p>
                            <p class="disc">Dream it up. Jot it down.</p>
                            <img class="img-fluid" src="/images/img_ipad/img_inter/apple-pencil.png">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="side-keyboard">
                            <img class="img-fluid" src="/images/img_ipad/img_inter/apple-keyboard.png">
                            <p class="name-essentials">Keyboards for iPad</p>
                            <p class="disc">Keyboards that have you covered.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- site footer-->
        <div class="site-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        Copyright © 2020 Apple Inc. All rights reserved.
                    </div>
                    <div class="col-md-6 text-right">
                        VietNam
                    </div>
                </div>
            </div>
        </div>

    </body>
</html>