doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css')

  body
    block content
    nav.navbar.navbar-expand-sm.bg-dark.navbar-dark
        a.navbar-brand(href="http://localhost:3000/") 19VP
        ul.navbar-nav
            li.nav-item
                a.nav-link(href="http://localhost:3000") Home
            li.nav-item
                a.nav-link(href="http://localhost:3000/student") Student
            li.nav-item
                a.nav-link(href="http://localhost:3000/about") About
    div.jumbotron.jumbotron-fluid
        div.container
            h1 Đinh Viết Trung
            p ID: 18126035
            p University: University Of Science
