<!DOCTYPE html>
<html lang="en">
<head>
    <title>Buy Apple Watch Series 5</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_watch/buy-watch-series-5-style.css">
</head>
<body>
    <!-- site menu -->
    <div class="site-menu">
        <!-- apple menu -->
        <div class="apple-menu">
            <nav>
                <ul>
                    <li>
                        <a href="/"><img class="logo" src="/images/img_watch/img_inter/apple-xxl.png" ></a>
                    </li>
                    <li><a href="/mac" class="active">Mac</a></li>
                    <li><a href="/ipad">iPad</a></li>
                    <li><a href="/iphone">iPhone</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li>
                        <a href="#"><img class="img-fluid search-icon" src="/images/img_watch/img_inter/search.png"></a>
                    </li>
                    <li>
                        <a href="/bag"><img class="img-fluid bag-icon" src="/images/img_watch/img_inter/bag.png"></a>
                    </li>
                </ul>
            </nav>
        </div>          
    </div>

    <!--site header -->
    <div class="site-header">  
        <div class="container-fuild">
            <div class="row">
                <div class="col-md-6"><strong>Apple Watch Series 5</strong></div>
                <div class="col-md-6 text-right"><strong>From $399</strong></div>
            </div>
        </div>
    </div>

    <!--site main -->
    <div class="site-main">
        <div class="introduction">
            <h1>There's an Apple Watch for everyone.</h1>
            <p style="font-size: 20px;">Choose from our lastest style.</p>
        </div>

        <div class="shopping">
            <div class="row">
            <div class="card" style="width: 24rem;">
                <img src="/images/img_watch/img-watch-series-5/watch-1.jpg" class="card-img-top">
                <div class="card-body">
                    <p class="card-text">
                        <a href="/watch/series5/cart-1"><b>Gold Aluminum Case with Sport Band</b></a><br>
                        From $399
                    </p>
                </div>
            </div>

            <div class="card" style="width: 24rem;">
                <img src="/images/img_watch/img-watch-series-5/watch-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <a href="/watch/series5/cart-2"><b>Space Gray Aluminum Case with Sport Loop</b></a><br>
                        From $399
                    </p>
                </div>
            </div>

            <div class="card" style="width: 24rem;">
                <img src="/images/img_watch/img-watch-series-5/watch-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <a href="/watch/series5/cart-3"><b>Stainless Steel Case with Leather Loop</b></a><br>
                        $799.00
                    </p>
                </div>
            </div>
            </div>

            <div class="row">
            <div class="card" style="width: 24rem;">
                <img src="/images/img_watch/img-watch-series-5/watch-4.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <a href="/watch/series5/cart-4"><b>Gold 2 Aluminum Case with Sport Band</b></a><br>
                        From $399
                    </p>
                </div>
            </div>

            <div class="card" style="width: 24rem;">
                <img src="/images/img_watch/img-watch-series-5/watch-5.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <a href="/watch/series5/cart-5"><b>Gold Aluminum Case with Sport Loop</b></a><br>
                        From $399
                    </p>
                </div>
            </div>

            <div class="card" style="width: 24rem;">
                <img src="/images/img_watch/img-watch-series-5/watch-6.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <p class="card-text">
                        <a href="/watch/series5/cart-6"><b>Silver Aluminum Case with Sport Loop</b></a><br>
                        From $399
                    </p>
                </div>
            </div>
            </div>
        </div> 
    </div>
    
    <!-- site footer-->
    <div class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    Copyright © 2020 Apple Inc. All rights reserved.
                </div>
                <div class="col-md-6 text-right">
                    VietNam
                </div>
            </div>
        </div>
    </div>
</body>
</html>