<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Buy Apple iPad Air</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" type="text/css" href="/stylesheets/style_ipad/buy-ipad-air-style.css">
    </head>
    <body>
        <!-- site menu -->
        <div class="site-menu">
            <!-- apple menu -->
            <div class="apple-menu">
                <nav>
                    <ul>
                        <li>
                            <a href="/"><img class="logo" src="/images/img_ipad/img_inter/apple-xxl.png" ></a>
                        </li>
                        <li><a href="/mac">Mac</a></li>
                        <li><a href="/ipad" class="active">iPad</a></li>
                        <li><a href="/iphone">iPhone</a></li>
                        <li><a href="/watch">Watch</a></li>
                        <li>
                            <a href="#"><img class="img-fluid search-icon" src="/images/img_ipad/img_inter/search.png"></a>
                        </li>
                        <li>
                            <a href="#"><img class="img-fluid bag-icon" src="/images/img_ipad/img_inter/bag.png"></a>
                        </li>
                    </ul>
                </nav>
            </div>          
        </div>

        <script src="/javascripts/script_ipad/buy-ipad-air.js"></script>
    </body>
</html>