<!DOCTYPE html>
<html lang="en">
<head>
    <title>Buy Apple iPhone SE</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_iphone/buy-iphone-se-style.css">
</head>
<body>
    <!-- site menu -->
    <div class="site-menu">
        <!-- apple menu -->
        <div class="apple-menu">
            <nav>
                <ul>
                    <li>
                        <a href="/"><img class="logo" src="/images/img_iphone/img_inter/apple-xxl.png" ></a>
                    </li>
                    <li><a href="/mac">Mac</a></li>
                    <li><a href="/ipad">iPad</a></li>
                    <li><a href="/iphone" class="active">iPhone</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li>
                        <a href="#"><img class="img-fluid search-icon" src="/images/img_iphone/img_inter/search.png"></a>
                    </li>
                    <li>
                        <a href="/bag"><img class="img-fluid bag-icon" src="/images/img_iphone/img_inter/bag.png"></a>
                    </li>
                </ul>
            </nav>
        </div>          
    </div>

    <!--site header -->
    <div class="site-header">  
        <div class="container-fuild">
            <div class="row">
                <div class="col-md-6"><strong>Apple iPhone SE</strong></div>
                <div class="col-md-6 text-right"><strong>From $399</strong></div>
            </div>
        </div>
    </div>

    <div class="site-main mt-4">
        <div class="container-fluild">
            <div class="product_cart row">
                <div class="image_product col-md-6 text-center">
                    <img class="img-fluid" src="/images/img_iphone/img-buy-iphone-se/buy-iphone-se.jpg">
                </div>
                <div class="cart col-md-6">

                    <p class="name_cart">Buy iPhone SE</p>            
                    
                    <div id="accordion">

                        <!--Finish-->
                        <div class="card">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseOne">
                                    <div class="row">
                                        <p id="para" class="bold col-6 checkColor">Choose your finish.</p>
                                        <p id="change-button" class="col-6 text-right"></p>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseOne" class="collapse show" >
                                <div class="card-body">
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-6 text-center">
                                                <div class="box left box-small">
                                                    <img src="/images/img_iphone/img-buy-iphone-se/white-icon.jpg">
                                                    <p class="desc"><span id="selected">White</span></p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 text-center">
                                                <div class="box right box-small">
                                                    <img src="/images/img_iphone/img-buy-iphone-se/black-icon.jpg">
                                                    <p class="desc"><span id="selected">Black</span></p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-sm-6 text-center">
                                                <div class="box left box-small">
                                                    <img src="/images/img_iphone/img-buy-iphone-se/red-icon.jpg">
                                                    <p class="desc"><span id="selected">(PRODUCT)RED</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Storage -->
                        <div class="card card-remove-border">
                            <div class="card-header">
                                <a class="card-link" data-toggle="collapse" href="#collapseTwo">
                                    <div class="row">
                                        <p id="para" class="bold col-6 checkRom">Choose your capacity</p>
                                        <p id="change-button" class="col-6 text-right"></p>
                                    </div>
                                </a>
                            </div>
                            <div id="collapseTwo" class="collapse show" >
                                <div class="card-body">
                                    <div class="item">
                                        <div class="row">
                                            <div class="col-sm-6 text-center">
                                                <div class="box left box-small">
                                                    <p id="selected" class="bold"><span class="price">64</span>GB</p>
                                                    <p class="desc desc-storage">From $399</p>
                                                </div>
                                            </div>
                                            <div class="col-sm-6 text-center">
                                                <div class="box right box-small">
                                                    <p id="selected" class="bold"><span class="price">128</span>GB</p>
                                                    <p class="desc desc-storage">From $449</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row mt-3">
                                            <div class="col-sm-6 text-center">
                                                <div class="box left box-small">
                                                    <p id="selected" class="bold"><span class="price">256</span>GB</p>
                                                    <p class="desc desc-storage">From $549</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="row mt-3">
                        <input type="button" class="addToBag" value="Add to Bag" id="addToBag">
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- site footer-->
    <div class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    Copyright © 2020 Apple Inc. All rights reserved.
                </div>
                <div class="col-md-6 text-right">
                    VietNam
                </div>
            </div>
        </div>
    </div>
    
    

    <script src="/javascripts/script_iphone/buy-iphone-se.js"></script>

</body>
</html>