<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apple iPhone</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_iphone/iphone-style.css">
</head>
<body>
    <!--site menu -->
    <div class="site-menu">
        <div class="apple-menu">
            <nav>
                <ul>
                    <li>
                        <a href="/"><img class="logo" src="/images/img_iphone/img_inter/apple-xxl.png" ></a>
                    </li>
                    <li><a href="/mac">Mac</a></li>
                    <li><a href="/ipad">iPad</a></li>
                    <li><a href="/iphone" class="active">iPhone</a></li>
                    <li><a href="/watch">Watch</a></li>
                    <li>
                        <a href="#"><img class="img-fluid search-icon" src="/images/img_iphone/img_inter/search.png"></a>
                    </li>
                    <li>
                        <a href="/bag"><img class="img-fluid bag-icon" src="/images/img_iphone/img_inter/bag.png"></a>
                    </li>
                </ul>
            </nav>
        </div>  

        <div class="iphone-menu">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <a class="item-menu" href="#iphone11pro-section">
                        <img class="img-fluid iphone11-pro" src="/images/img_iphone/img_inter/iphone11-pro-icon.png">
                        <p>iPhone 11 Pro</p>
                    </a>
                    <a class="item-menu" href="#iphone11-section">
                        <img class="img-fluid" src="/images/img_iphone/img_inter/iphone11-icon.png">
                        <p>iPhone 11</p>
                    </a>
                    <a class="item-menu" href="#iphonese-section">
                        <img class="img-fluid iphonese" src="/images/img_iphone/img_inter/iphonese.png">
                        <p>iPhone SE</p>
                    </a>
                    <a class="item-menu" href="#iphonexr-section">
                        <img class="img-fluid" src="/images/img_iphone/img_inter/iphonexr-icon.png">
                        <p>iPad XR</p>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- site main -->
    <div class="site-main">
        <div class="container">

            <!--iphonese section-->
            <div class="container-fluid iphone-section" id="iphonese-section">
                <div class="row">
                    <div class=" col-md-8 col-lg-6 text">
                        <h1>iPhone SE</h1>
                        <p class="disc">Lots to love. <br>Less to spend.</p>
                        <h3>Starting at $399.</h3>
                        <p class="price">From $9.54/mo. or $229 with trade-in.**</p>
                        <p>
                            <a href="/iphone/form/buy-iphone-se"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                        </p>
                    </div>
                    <div class="col-md-4 col-lg-6">
                        <img src="/images/img_iphone/img_inter/iphoneSEred.jpeg" alt="IPhone SE" class="img-fluid">
                    </div>
                </div>
            </div>
            
            <!--iphone11 section-->
            <div class="container-fluid iphone-section" id="iphone11-section">
                <div class="row">
                    <div class="col-md-7 col-lg-7">
                        <img src="/images/img_iphone/img_inter/iphone11.png" alt="IPhone 11" class="img-fluid">
                    </div>
                    <div class="col-md-5 col-lg-5 text">
                        <h1>iPhone 11</h1>
                        <p class="disc">Just the right <br>amount of everything.</p>
                        <h3>Starting at $399.</h3>
                        <p class="price">From $19.95/mo. or $479 with trade-in.**</p>
                        <p >
                            <a class="btn btn-primary btn-lg" href="/iphone/form/buy-iphone11" role="button">Buy</a>
                        </p>
                    </div>
                </div>
            </div>  

            <!--iphone11pro section-->
            <div class="container-fluid iphone-section" id="iphone11pro-section">
                <div class="row">
                    <div class=" col-md-6 col-lg-6 text">
                        <h1>iPhone 11 Pro</h1>
                        <p class="disc">Pro camera. <br>Pro display.<br>Pro performance.</p>
                        <h3>Starting at $399.</h3>
                        <p class="price">From $29.95/mo. or $719 with trade-in.**</p>
                        <p >
                            <a href="/iphone/form/buy-iphone11-pro"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                        </p>
                    </div>
                    <div class="col-md-6 col-lg-6 image image2">
                        <img src="/images/img_iphone/img_inter/iphone11.jpg"  class="img-fluid">
                    </div>
                </div>
            </div>

            <!--iphonexr section-->
            <div class="container-fluid iphone-section" id="iphonexr-section">
                <div class="row">
                    <div class="col-md-7 col-lg-7">
                        <img src="/images/img_iphone/img_inter/XR0.jpg" alt="IPhone XR" class="iphonexr img-fluid">
                    </div>
                    <div class="col-md-5 col-lg-5 text">
                        <h1>iPhone XR</h1>
                        <p class="disc">Make room for color.</p>
                        <h3>Starting at $599.</h3>
                        <p class="price">From $220 off with trade-in**</p>
                        <p >
                            <a class="btn btn-primary btn-lg" href="/iphone/form/buy-iphone-xr" role="button">Buy</a>
                        </p>
                    </div>
                </div>
            </div>  
            
            <!-- compare section -->
            <div class="compare-section">
                <div class="container-fluid text-center phoneList">
                    <h1>Which iPhone is right for you?</h1>
                    <div class="row mybox">
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="card text-left">
                                <img class="card-img-top" src="/images/img_iphone/img_inter/ip11pro_card (2).jpg" alt="iPhone 11 Pro">
                                <div class="card-body">
                                    <h4 class="card-title">iPhone 11 Pro</h4>
                                    <p class="price">Starting $999</p>
                                    <p class="card-text">
                                        Triple-camera system <br/>
                                        (Ultra Wide, Wide, Telephoto)
                                    </p>
                                    <p class="card-text">
                                        Up to 20 hours of video playback
                                    </p>
                                    <p class="card-text">
                                        Water resistant to a depth of 4 meters for up to 30 minutes
                                    </p>
                                    <p class="card-text">
                                        5.8” or 6.5” Super Retina XDR display
                                    </p>
                                    <p class="card-text">
                                        <a href="/iphone/form/buy-iphone11-pro"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="card text-left">
                                <img class="card-img-top iphone11" src="/images/img_iphone/img_inter/ip11or.png" alt="iPhone 11">
                                <div class="card-body">
                                    <h4 class="card-title">iPhone 11</h4>
                                    <p class="price">Starting $699</p>
                                    <p class="card-text">
                                        Dual-camera system <br/>
                                        (Ultra Wide, Wide)
                                    </p>
                                    <p class="card-text">
                                        Up to 17 hours of video playback
                                    </p>
                                    <p class="card-text">
                                        Water resistant to a depth of 2 meters for up to 30 minutes
                                    </p>
                                    <p class="card-text">
                                        6.1” Liquid Retina HD display
                                    </p>
                                    <p class="card-text buy">
                                        <a href="/iphone/form/buy-iphone11"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="card text-left">
                                <img class="card-img-top" src="/images/img_iphone/img_inter/se.jpg" alt="iPhone SE">
                                <div class="card-body">
                                    <h4 class="card-title">iPhone SE</h4>
                                    <p class="price">Starting $399</p>
                                    <p class="card-text">
                                        Single-camera system <br/>
                                        (Wide)
                                    </p>
                                    <p class="card-text">
                                        Up to 13 hours of video playback
                                    </p>
                                    <p class="card-text">
                                        Water resistant to a depth of 1 meter for up to 30 minutes
                                    </p>
                                    <p class="card-text">
                                        4.7” Retina HD display
                                    </p>
                                    <p class="card-text buy">
                                        <a href="/iphone/form/buy-iphone-se"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6">
                            <div class="card text-left" id="iPxr">
                                <img class="card-img-top" src="/images/img_iphone/img_inter/iphone-xr-blue_8.png" alt="iPhone XR">
                                <div class="card-body">
                                    <h4 class="card-title">iPhone XR</h4>
                                    <p class="price">Starting $599</p>
                                    <p class="card-text">
                                        Single-camera system <br/>
                                        (Wide)
                                    </p>
                                    <p class="card-text">
                                        Up to 16 hours of video playback
                                    </p>
                                    <p class="card-text">
                                        Water resistant to a depth of 1 meter for up to 30 minutes                            
                                    </p>
                                    <p class="card-text">
                                        6.1” Liquid Retina HD display
                                    </p>
                                    <p class="card-text buy">
                                        <a href="/iphone/form/buy-iphone-xr"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
    <!-- site footer-->
    <div class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    Copyright © 2020 Apple Inc. All rights reserved.
                </div>
                <div class="col-md-6 text-right">
                    VietNam
                </div>
            </div>
        </div>
    </div>
</body>
</html>