<!DOCTYPE html>
<html lang="en">
<head>
    <title>Apple Watch</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- css -->
    <link rel="stylesheet" type="text/css" href="/stylesheets/style_watch/watch-style.css">
</head>
<body>
    <!-- site menu -->
    <div class="site-menu">
        <!-- apple menu -->
        <div class="apple-menu">
            <nav>
                <ul>
                    <li>
                        <a href="/"><img class="logo" src="/images/img_watch/img_inter/apple-xxl.png" ></a>
                    </li>
                    <li><a href="/mac">Mac</a></li>
                    <li><a href="/ipad">iPad</a></li>
                    <li><a href="/iphone">iPhone</a></li>
                    <li><a href="/watch" class="active">Watch</a></li>
                    <li>
                        <a href="#"><img class="img-fluid search-icon" src="/images/img_watch/img_inter/search.png"></a>
                    </li>
                    <li>
                        <a href="/bag"><img class="img-fluid bag-icon" src="/images/img_watch/img_inter/bag.png"></a>
                    </li>
                </ul>
            </nav>
        </div>  

        <!-- watch menu -->
        <div class="watch-menu">
            <div class="container-fluid">
                <div class="row justify-content-center">
                    <a class="item-menu" href="#watch-series5-section">
                        <img class="img-fluid" src="/images/img_watch/img_inter/watch-series5-icon.svg">
                        <p>Apple Watch Series 5</p>
                    </a>
                    <a class="item-menu" href="#watch-nike-section">
                        <img class="img-fluid" src="/images/img_watch/img_inter/watch-nike-icon.svg">
                        <p>Apple Watch Nike</p>
                    </a>
                    <a class="item-menu" href="#watch-hermes-section">
                        <img class="img-fluid" src="/images/img_watch/img_inter/watch-hermes-icon.svg">
                        <p>Apple Watch Hermès</p>
                    </a>
                    <a class="item-menu" href="#watch-series3-section">
                        <img class="img-fluid" src="/images/img_watch/img_inter/watch-series5-icon.svg">
                        <p>Apple Watch Series 3</p>
                    </a>
                </div>
            </div>
        </div> 
    </div>

    <!-- site main -->
    <div class="site-main">
        <p class="title-site text-center">The #1 smartwatch<br>in the world. Times two.</p>
        <div class="container-fluid">
            <!-- watch series 5 section -->
            <div class="row product-section" id="watch-series5-section">
                <div class="col-md-6">
                    <img class="img-fluid" src="/images/img_watch/img_inter/tile_series-5.jpg">
                </div>
                <div class="col-md-6 text-center product-content">
                    <img class="img-fluid" src="/images/img_watch/img_inter/logo_series-5.png">
                    <p class="disc">The most advanced Apple Watch yet, featuring the Always-On Retina display, the ECG app, international emergency calling, fall detection, and a built‑in compass.</p>
                    <p class="price">Starting at $399</p>
                    <a href="/watch/item/buy-watch-series5"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                </div>
            </div>

            <!-- watch series 3 section -->
            <div class="row product-section" id="watch-series3-section">
                <div class="col-md-6 text-center product-content">
                    <img class="img-fluid" src="/images/img_watch/img_inter/logo_series-3.png">
                    <p class="disc">All the core fitness, heart‑monitoring, and connectivity features that make Apple Watch the ultimate device for a healthy life. At an incredible price.</p>
                    <p class="price">Starting at $199</p>
                    <a href="/watch/item/buy-watch-series3"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                </div>
                <div class="col-md-6">
                    <img class="img-fluid" src="/images/img_watch/img_inter/tile_series-3.jpg">
                </div>
            </div>

            <!-- watch nike, hermes section -->
            <div class="row product-section" id="watch-nike-hermes-section">
                <div class="col-md-6 text-center" id="watch-nike-section">
                    <div class="product-content">
                        <img src="/images/img_watch/img_inter/logo_nike.png"><br>
                        <a href="/watch/item/buy-watch-nike"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                    </div>
                    <div class="watch-nike-img">
                        <img src="/images/img_watch/img_inter/tile_nike.jpg">
                    </div>
                </div>
                <div class="col-md-6" id="watch-hermes-section">
                    <div class="product-content">
                        <img src="/images/img_watch/img_inter/logo_hermes.png"><br>
                        <a href="/watch/item/buy-watch-hermes"><button type="button" class="btn btn-primary btn-md">Buy</button></a>
                    </div>
                    <div class="watch-hermes-img">
                        <img src="/images/img_watch/img_inter/tile_hermes.jpg">
                    </div>
                </div>
            </div>
            
            <!-- iphone+watch section  -->
            <div class="row iphone-watch-section">
                <div class="col-md-6">
                    <img src="/images/img_watch/img_inter/power_of_plus_tile.jpg">
                </div>
                <div class="col-md-6 content">
                    <p class="title-section"><img class="img-fluid apple-logo-black" src="/images/img_watch/img_inter/apple-logo-black.png">iPhone + <img class="img-fluid apple-logo-black" src="/images/img_watch/img_inter/apple-logo-black.png">Watch</p>
                    <p>Add them together. Multiply their power.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- site footer-->
    <div class="site-footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    Copyright © 2020 Apple Inc. All rights reserved.
                </div>
                <div class="col-md-6 text-right">
                    VietNam
                </div>
            </div>
        </div>
    </div>
</body>
</html>